.header {
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
  font-weight: 600;
}

.header .container {
  display: flex;
  align-items: center;
}

.header img {
  height: 32px;
}